mixin sidebar()
  // ====================================================================
  // sidebar
  // ====================================================================
  aside.SideBar
    ul
      li.SideBar__block
        h3.SideBar__title オルトコイン
        ul.SideBar__list
          li
            a(href='#') オルトコイン
          li
            a(href='#') オルトコイン
          li
            a(href='#') オルトコイン
          li
            a(href='#') オルトコイン
          li
            a(href='#') オルトコイン
          li
            a(href='#') オルトコイン
          li
            a(href='#') オルトコイン
          li
            a(href='#') オルトコイン
          li
            a(href='#') オルトコイン
          li
            a(href='#') オルトコイン
          li
            a(href='#') オルトコイン
          li
            a(href='#') オルトコイン