mixin footer()
  // ====================================================================
  // footer
  // ====================================================================
  footer.footer
    p © Company 2017
