//
// Color
//------------------------------------------------------------------------

// color
.cl-white {
  color: $color-white !important;
}

.cl-black {
  color: $color-black !important;
}

// background
.bg-white {
  background-color: $color-white !important;
}

.bg-black {
  background-color: $color-black !important;
}
