mixin thumb()
  // ====================================================================
  // thumb
  // ====================================================================
  .ImageThumb__large
    .ImageThumb__img
      img(src='http://via.placeholder.com/350x150', alt='')
    .ImageThumb__info
      p
      | 記事タイトルが入ります。ああああああああああああああああああ ああああああああああああああああああああああああああああああ
